In [1]:
4 * (6+5)

44

In [2]:
4 * 6 + 5

29

In [3]:
4 + 6 * 5

34

In [4]:
#square root
100 ** 0.5

10.0

In [5]:
#square
10 ** 2

100

In [7]:
s = 'hello'

#print out 'e' using indexing

s[1]

'e'

In [9]:
s = 'hello'

#print out 'e' using indexing

s[1]

'e'

Reverse the string 'hello' using slicing

In [10]:
s = 'hello'

#Reverse the string 'hello' using slicing

s[::-1]

'olleh'

Given the string 'hello', give two methods of producing the letter 'o' using indexing.

In [13]:
s = 'hello'

#print out the 'o'

#Method 1

s[-1]

'o'

In [15]:
#Method 2

s[-4]

'e'

Lists

Build the list[0,0,0] two separate ways

In [16]:
#Method 1:
[0] * 3

[0, 0, 0]

In [17]:
#Method 2:
list2 = [0,0,0]
list2

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [18]:
list3 = [1,2,[3,4,'hello']]

In [20]:
list3[2][2] = 'goodbye'

In [21]:
list3

[1, 2, [3, 4, 'goodbye']]

 [1,2, [3,4, 'goodbye']]
 
 sort the list below:

In [22]:
list4 = [5,3,4,6,1]

In [24]:
#Method1

sorted(list4)

[1, 3, 4, 5, 6]

In [26]:
#Method2

list4.sort()
list4

[1, 3, 4, 5, 6]

Dictonaries

using keys and indexing, grab the 'hello' from the following dictionaries:

In [27]:
d = {'simple key':'hello'}
#Grab 'hello'

d['simple key']

'hello'

In [29]:
d = {'k1':{'k2':'hello'}}
#Grab 'hello'

d['k1']['k2']

'hello'

In [30]:
#Getting a little tricker

d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [31]:
#This was harder than I expected

d['k1'][0]['nest_key'][1][0]

'hello'

In [32]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [33]:

# Phew!
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [34]:
t = (1,2,3)

In [35]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [36]:
set(list5)

{1, 2, 3, 4, 11, 22, 33}

In [37]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False